<div *ngIf="comment" class="chat-comment">
	<div class="comment-content">
		<div class="author-avatar float-left" [title]="comment.author">
			<img width="30" height="30" [src]="comment.authorImage"/>
		</div>
		<div class="comment-holder float-left">
			<div class="author-username">
				<span>{{ comment.author }}</span>
			</div>
			<div class="author-timestamp float-right">
				<span>{{ comment.createdPrecise | amTimeAgo}}</span>
			</div>
			<div class="comment-text">
				<span><i>{{ comment.text }}</i></span>
			</div>
		</div>
	</div>
</div>
